<?xml version="1.0" encoding="utf-8"?>
<manifest package="erianda.com.quitsmoking"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ListBerita"
            android:label="Berita"
            android:parentActivityName=".MainActivity"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".DetailBerita"
            android:label="Berita"
            android:parentActivityName=".ListBerita"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".ProfileCurrent"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".Profile"
            android:label="@string/title_activity_profile">
        </activity>
        <activity android:name=".Bout"
                  android:parentActivityName=".MainActivity"
            >
        </activity>
        <activity android:name=".Achievement"
                  android:parentActivityName=".MainActivity"
                  android:theme="@android:style/Theme.Holo.Light.DarkActionBar"
            >
        </activity>

    </application>

</manifest>